<style>
    .foot {
        text-align: center;
        margin-top: 250px;
        margin-bottom: 25px;
    }
</style>
<footer class="foot">
    <h2 style="color: rgba(169, 170, 109, 0.932);">This is footer</h2>
</footer>