<header style="text-align: center;">
    <h1 style="color: rgba(82, 112, 112, 0.932);">{{ upper "This is Header" }}</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/pro">Pro</a></p>
</header>
