<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body style="background-color: beige;">
    {{> header}}
    <h1 style="text-align: center;color: #7578;font-size: 70pt;margin-top: 220px;">This is Home Page<b></b></h1>
    {{> footer}}
</body>
</html>